<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Book Store
        </title>
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body class="p-3 mb-2 bg-secondary">
        <div class="container text-left">
            <div class="row">
              <div class="col">
   
              </div>
              <div class="col-10 p-3 mb-2 bg-warning">
                {% include "navbar.html" %}
                    <div class="card bg-light text-black" style="padding: 25px;">
                        {% if user.is_authenticated %}
                            <!-- Logout Button -->
                            <form class="text-right" action="{% url 'logout_account' %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Logout</button>
                            </form>
                        {% endif %}
                        <!--% Override content block in layout-->
                        {% block content %}

                        {% endblock %}
                    </div>
              </div>
              <div class="col">
 
              </div>
            </div>
          </div>
        <!--Inherit from navbar template-->
        
        <!-- Bootstrap JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>