<nav class="navbar navbar-expand bg-body-tertiary bg-danger">
    <div class="container-fluid ">
        <h5 class="text-white">Book Store</h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- <a class="nav-link text-light" href="/admin">Admin Page</a> -->
                {% if user.is_authenticated %} 
            <!--Links for logged in users-->
                <a class="nav-link text-light" href="/">Home Page</a>
                <a class="nav-link text-light" href="/add_book">Add New Book</a>
                <a class="nav-link text-light" href="/api">API</a>
                {% else %}
            <!--Links for when not logged in-->
                <a class="nav-link text-light" href="/register">Register</a>
                <a class="nav-link text-light" href="/login_account">Login</a>
                
                {% endif %}
            </div>
        </div>
    </div>
</nav>